<div class="container">
  <% @chatrooms.each do |chat| %>
    <%= link_to chatroom_path(chat) do %>
      <%= cl_image_tag chat.event.user.avatar.key, width: 80, height: 80, crop: :fill, class:'avatar-event-show' %>
      <p><%= chat.event.name %></p>
      <p>Created by: <%= chat.event.user.name %></p>
      <p>Conversation started: <%= chat.updated_at.to_date %></p>
    <% end %>
  <% end %>
</div>
