<div class="container-messaging">
  <div>
  <%# <div class="col col-lg-2"> %>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">

    <h1 class="heading text-center">#<%= @chatroom.name %></h1>

    <%# <h3 class="heading text-center">Chat iBuddyFind</h3> %>
    <div class="messaging">
          <div class="inbox_msg">
            <div class="mesgs">
              <div class="msg_history">
                <div class="incoming_msg">
                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      <span class="time_date"> 11:01 AM    |    June 9</span>
                    </div>
                  </div>
                </div>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <span class="time_date"> 11:01 AM    |    June 9</span>
                  </div>
                </div>
                <div class="incoming_msg">
                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>Test, which is a new approach to have</p>
                      <span class="time_date"> 11:01 AM    |    Yesterday</span>
                    </div>
                  </div>
                </div>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>Apollo University, Delhi, India Test</p>
                    <span class="time_date"> 11:01 AM    |    Today</span>
                  </div>
                </div>
                <div class="incoming_msg">
                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>We work directly with our designers and suppliers,
                        and sell direct to you, which means quality, exclusive
                        products, at a price anyone can afford.</p>
                      <span class="time_date"> 11:01 AM    |    Today</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <%# <div class="message-container" id="message-<%= message.id %>
          <%# <i class="author">
            <span><%= message.user.name %>
            <%# </span> %>
            <%# <small><%= message.created_at.strftime("%a %b %e at %l:%M%p")</small> %>
          <%# </i> %>
          <%# <p><%= message.content</p> %>
        <%# </div>  %>
      <% end %>
    </div>
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
    <%# <%= f.button :submit, class:"button_chatroom" %>

    <div id="button-chatroom">
      <button class="send-message">Send message</button>
    </div>

    <% end %>
    <%# <div class="credit text-center">
      <a href="https://rakeshmandal.com" target="_blank">By RaKesh Mandal</a>
    </div> %>

  </div>
</div>
