<div class="col-10">

  <div class="d-flex profile align-items-center">
    <%# <%= cl_image_tag(@user.avatar.key, width: 200, height: 200, crop: :fill, class: 'profile-picture') %>
    <div>
      <h3 class="pl-3"><%= @user.name %></h5>
      <p> <%= @user.location %></p>
      <p> <%= @user.date_of_birth %></p>
    </div>
  </div>

  <div>
    <h5>Description</h5>
    <p><%= @user.description%></p>
    <h5>Age</h5>
    <p><%= @user.email %></p>
  </div>



  <div class="d-flex">
    <% @events.each do |event| %>
      <div class="card-product my-3 mx-5">
      <%= link_to event_path(event) do %>
        <%= cl_image_tag(event.photo.key, width: 200, height: 200, crop: :fill) %>
      <% end %>
      <div class="card-product-infos">
        <h2><%= event.name %> €</h2>
        <p><%= event.location%></p>
      </div>
      </div>
    <% end %>
  </div>
    
  <div>


  </div>



</div>