<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "buddy-no-bg.png", alt:"ibuddy.find logo" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to "Events", "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "All events", "/events", class: "dropdown-item " %>
            <%= link_to "My Events", "/events/my_events", class: "dropdown-item " %>
            <%= link_to "Add a new event", "/events/new",  class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "About", "/about", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#" , class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%# <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%= cl_image_tag(current_user.avatar.key, crop: :fill, class:'avatar dropdown-toggle', id:'navbarDropdown', data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Home", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "All Events", events_path, class: "nav-link" %>
        <li class="nav-item">
          <%= link_to "About", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-light " data-toggle="modal" data-target="#exampleModal">
            Login
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <%= simple_form_for(User.new, url: session_path(:user)) do |f| %>
                <div class="modal-body">
                  <%# Insert form login here %>
                    <div class="form-inputs">
                      <%= f.input :email,
                                  required: false,
                                  autofocus: true,
                                  input_html: { autocomplete: "email" } %>
                      <%= f.input :password,
                                  required: false,
                                  input_html: { autocomplete: "current-password" } %>
                    </div>
                    <%- if controller_name != 'registrations' %>
                    <%= link_to "Sign up", new_registration_path(:user) %><br />
                    <% end %>

                    <%- if controller_name != 'passwords' && controller_name != 'registrations' %>
                      <%= link_to "Forgot your password?", new_password_path(:user) %><br />
                    <% end %>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-outline-success">Log in</button>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
