<div class="d-flex justify-content-center">
  <h2>Events</h2>
</div>
<%= link_to events_path(category: "Night Out") do %>
  <div class="custom-btn" id="button-7">
    <div id="dub-arrow"><img src="https://www.freepngimg.com/thumb/party/29042-6-party-hd.png" alt="" /></div>
    Night Out
  </div>
<% end %>
<%= link_to events_path(category: "Gastronomy") do %>
  <div class="custom-btn" id="button-7">
    <div id="dub-arrow"><img src="https://www.freepngimg.com/thumb/banquet/29814-6-banquet-photos.png" alt="" /></div>
    Gastronomy
  </div>
<% end %>
<%= link_to events_path(category: "Sports") do %>
  <div class="custom-btn" id="button-7">
    <div id="dub-arrow"><img src="https://freepngimg.com/thumb/sports_equipment/22317-5-sport-photos.png" alt="" /></div>
    Sports
  </div>
<% end %>
<%= link_to events_path(category: "Travel") do %>
  <div class="custom-btn" id="button-7">
    <div id="dub-arrow"><img src="https://www.freepngimg.com/thumb/silhouette/87145-world-globe-font-map-free-transparent-image-hq.png" alt="" /></div>
    Travel
  </div>
<% end %>
<%= link_to events_path(category: "Experiences") do %>
  <div class="custom-btn" id="button-7">
    <div id="dub-arrow"><img src="https://cdn3.iconfinder.com/data/icons/common-sports/4096/paragliding-512.png" alt="" /></div>
    Experiences
  </div>
<% end %>
<%= link_to events_path(category: "Events") do %>
  <div class="custom-btn" id="button-7">
    <div id="dub-arrow"><img src="https://www.pngall.com/wp-content/uploads/4/Music-Concert.png" alt="" /></div>
    Events
  </div>
<% end %>
<%= link_to events_path(category: "Culture") do %>
  <div class="custom-btn" id="button-7">
    <div id="dub-arrow"><img src="https://cdn.onlinewebfonts.com/svg/img_561200.png" alt="" /></div>
    Culture
  </div>
<% end %>
<%= link_to events_path(category: "Meet") do %>
  <div class="custom-btn" id="button-7">
    <div id="dub-arrow"><img src="https://www.pngall.com/wp-content/uploads/2018/05/Friends-PNG-File.png" alt="" /></div>
    Meet
  </div>
<% end %>
<div class="main-content">
  <div class="cards">
    <div class="row">
      <% @events.each do |event| %>
          <div class="col-4">
          <%= link_to event_path(event) do %>
          <div class="card card-event mb-4">
            <div class="img-download">
              <% if event.photo.key.nil? %>
                <img src="https://powerthoughtsmeditationclub.com/wp-content/uploads/2015/10/bigstock-Happy-group-of-friends-family-43459618.jpg" alt="" class="card-img-top" />
              <% else %>
                <%= cl_image_tag event.photo.key, crop: :fill, class: "card-img-top" %>
              <% end %>
              <%= link_to events_path do %> <%# Implement modal to show more information #%>
                <i class="far fa-eye"></i>
              <% end %>
            </div>
            <div class="event-body">
              <div class="event-main-content d-flex justify-content-between mb-2">
                <p class="card-subtitle"><%= event.day.date %></p>
              </div>
              <div class="event-main-content-name d-flex justify-content-between">
                <h5 class="event-name"><%= event.name.capitalize %></h5>
              </div>
              <div class="row mb-2">
                <div class="event-main-content d-flex location">
                  <i class="fas fa-map-marker-alt"></i>
                  <p class="location-event"><%= event.location %></p>
                </div>
              </div>
              <div class="row">
                <div class="event-main-content d-flex participants">
                  <i class="fas fa-user-alt mr-2 mt-2"></i>
                  <% if event.max_people <= 3 %>
                    <p class="location-event">Hurry up!<br id="gap_between"> There are only <%= event.people_left %> spots left!</p>
                  <% else %>
                    <p class= "location-event"><%= event.people_left %> spots left</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map"
        style="height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
