<h1>Events</h1>

<ul>
  
    <% @events.each do |event| %>
      <li><%= event.name %></li>
      <%= event.location %>
      <%= event.date %>
      <%= event.price %>
      <% if event.latitude.present? && event.longitude.present?  %>
        <div id="map"
          style="width: 100%; height: 300px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      <% end %>
    <% end %>
</ul>
