<div class="back-show"><%= link_to events_path do %><p><i class="fas fa-arrow-left"></i> Back</p><% end %></div>

<div class="container d-flex justify-content-between">

  <div class ="col-4 rounded"> <!--col profile -->

    <div class="profile-info-card-event">
      <%# <img class="card-img-top" src="https://i.imgur.com/K7A78We.jpg" alt="Card image cap"> %>
      <div class="profile-info-card-event-info">
        <%= cl_image_tag(current_user.avatar.key, width: 80, height: 80, crop: :fill, class:'avatar-event-show') %>
        <h5 class="profile-info-card-event-name"><%= current_user.name %></h5>
        <p class="profile-info-card-event-email"><i class="fas fa-envelope"></i>  <%= current_user.email %></p>
      </div>

      <div class="profile-info-card-event-info2">
        <p><i class="fas fa-birthday-cake"></i>  <%= ((Date.today - current_user.date_of_birth )/365).to_i%> y</p>
        <p><i class="fas fa-pen-square"></i>  <%= current_user.description %></p>
        <p><i class="fas fa-venus-mars"></i>  <%= current_user.gender %></p>
      </div>

      <div class="d-flex justify-content-between ml-4 mr-4 profile-info-card-event-card-button">
        <button type="button" id="message" class="btn btn-warning">Message</button>
        <button type="button" id ="review"class="btn btn-warning">Review</button>
      </div>


    </div>
  </div> <!--col profile -->



  <div class="col-8"> <!--col event -->

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Events</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Joined Events</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <% current_user.events.each do |event| %>

          <div class="card-trip" >
            <% if event.photo.key.nil? %>
              <img src="https://powerthoughtsmeditationclub.com/wp-content/uploads/2015/10/bigstock-Happy-group-of-friends-family-43459618.jpg" alt="" class="card-img-top" />
            <% else %>
              <%= cl_image_tag  "#{event.photo.key}", crop: :fill, class: "card-img-top" %>
            <% end %>

            <div class="card-trip-infos">

              <div>
                <h5><%= event.name %></h5>
                <p><i class="fas fa-pen-square"></i>  <%= event.description %></p>
                <p><i class="far fa-calendar-alt"></i>  <%= event.day.date %></p>
                <p><i class="fas fa-glass-cheers "></i>  <%= event.category %></p>
                <p><i class="fas fa-euro-sign"></i>  <%= event.price %></p>
                <p><i class="fas fa-users"></i>  <span id="max_people"><%= event.people_left %>
              </div>

            </div>
          </div>
        <% end %>
      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <% current_user.booked_events_days.each do |event_day| %>

          <div class="card-trip" >
            <%= cl_image_tag  "#{event_day.event.photo.key}", crop: :fill, class: "card-img-top" %>

            <div class="card-trip-infos">

              <div>
                <h5><%= event_day.event.name %></h5>
                <p><i class="fas fa-pen-square"></i>  <%= event_day.event.description %></p>
                <p><i class="far fa-calendar-alt"></i>  <%= event_day.event.day.date %></p>
                <p><i class="fas fa-glass-cheers "></i>  <%= event_day.event.category %></p>
                <p><i class="fas fa-euro-sign"></i>  <%= event_day.event.price %></p>
                <p><i class="fas fa-users"></i>  <span id="max_people"><%#= event.people_left %>
              </div>

            </div>
          </div>
        <% end %>

      </div>

    </div>

  </div><!--col event -->

</div>
