<div class="container">
  <!-- multistep form -->
  <%# <form id="msform"> %>
  <%= simple_form_for @event, html: { class: "msform" }  do |f| %>
    <!-- progressbar -->
    <ul id="progressbar">
      <li class="active">Create an event</li>
      <li>Price and People</li>
      <li>Final details</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
      <h2 class="fs-title">Let's add an event</h2>
      <h3 class="fs-subtitle">Enter a name and the category of your event.</h3>
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Name" } %>
      <%= f.input :category,
                  required: true,
                  collection: Event::CATEGORIES,
                  autofocus: true,
                  input_html: { autocomplete: "Category" } %>
      <%# <%= f.button :submit, "Next", class:'btn btn-outline-success next' %>
      <input type="button" name="next" class="btn btn-outline-success next" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Just some more information</h2>
      <h3 class="fs-subtitle">Tell us more about the event</h3>
      <%= f.simple_fields_for :event_days do |ff| %>
        <%= ff.input :date, as: :date %>
      <% end %>
      <%= f.input :price,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Price" } %>
      <%= f.input :max_people,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Buddies" } %>
      <input type="button" name="previous" class="btn btn-outline-dark previous" value="Previous" />
      <%# <%= f.button :submit, "Previous", class:'btn btn-outline-dark previous' %>
      <input type="button" name="next" class="btn btn-outline-success next" value="Next" />
      <%# <%= f.button :submit, "Next", class:'btn btn-outline-success next' %>
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Final details</h2>
      <h3 class="fs-subtitle">Share moments. Share life.</h3>
      <%= f.input :location,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Location" } %>
      <%= f.input :description,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Description" } %>
      <%= f.input :photo, as: :file,
                  required: false,
                  input_html: { autocomplete: "Photo" } %>
      <input type="button" name="previous" class="btn btn-outline-dark previous" value="Previous" />
      <%# <%= f.button :submit, "Previous", class:'btn btn-outline-dark previous' %>
      <%# <input type="submit" name="submit" class="btn btn-outline-success submit" value="Submit" /> %>
      <%= f.button :submit, "Submit", class:'btn btn-outline-success' %>
    </fieldset>
      <% end %>
  <%# </form> %>
</div>
