<h2>show</h2>

<p>Name: <%= @event.name %><br>
<p>Price: <%= @event.price %><br>
<p>Date: <%= @event.date %></p><br>
<p>Description: <%= @event.description %></p><br>
<p>Category:<%= @event.category %></p><br>
<p>Maximum People:<%= @event.max_people %></p><br>
<p>Location: <%= @event.location %></p><br>

<h1>Map </h1>

<% if @event.latitude.present? && @event.longitude.present?  %>
   <div id="map"
     style="width: 100%; height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
<% end %>