<div class="back-show"><%= link_to events_path do %><p><i class="fas fa-arrow-left"></i> Back</p><% end %></div>

<div class="container d-flex justify-content-between">

  <div class ="col-4 rounded"> <!--col profile -->

    <div class="profile-info-card-event">
      <%# <img class="card-img-top" src="https://i.imgur.com/K7A78We.jpg" alt="Card image cap"> %>
      <div class="profile-info-card-event-info">
        <%= cl_image_tag(@event.user.avatar.key, width: 80, height: 80, crop: :fill, class:'avatar-event-show') %>
        <h5 class="profile-info-card-event-name"><%= @event.user.name %></h5>
        <p class="profile-info-card-event-email"><i class="fas fa-envelope"></i>  <%= @event.user.email %></p>
      </div>

      <div class="profile-info-card-event-info2">
        <p><i class="fas fa-birthday-cake"></i>  <%= ((Date.today - @event.user.date_of_birth )/365).to_i%> y</p>
        <p><i class="fas fa-pen-square"></i>  <%= @event.user.description %></p>
        <p><i class="fas fa-venus-mars"></i>  <%= @event.user.gender %></p>
      </div>




      <% if @event.user != current_user %>
        <% if @chatroom.present?  %>
          <%= link_to chatroom_path(@chatroom) do %>
            <div class="row d-flex justify-content-between ml-4 mr-4 profile-info-card-event-card-button">
              <button type="button" id="message" class="col btn btn-warning">Join conversation</button>
            </div>
          <% end %>
        <% else %>
          <%= link_to event_chatrooms_path(@event), method: :post do %>
            <div class="row d-flex justify-content-between ml-4 mr-4 profile-info-card-event-card-button">
              <button type="button" id="message" class="col btn btn-warning">Start conversation</button>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%= link_to new_event_review_user_path(@event) do %>
        <div class="row d-flex justify-content-between ml-4 mr-4 profile-info-card-event-card-button">
          <button type="button" id ="review"class="col btn btn-warning">Review</button>
        </div>
      <% end %>

      <div class="d-flex overflow-auto profile-info-review">
        <div>
          <h3>Reviews:</h3>
          <% @reviews.each do |review| %>
            <div class="justify-content-between m-4 review-css">
              <%review.rating.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
              <p class="m-2"><%= review.content %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div> <!--col profile -->


  <div class ="col-8"> <!--col event -->
    <div class="card-trip">
    <% if @event.photo.key.nil? %>
     <img src="https://powerthoughtsmeditationclub.com/wp-content/uploads/2015/10/bigstock-Happy-group-of-friends-family-43459618.jpg" alt="" class="card-img-top" />
    <% else %>
      <%= cl_image_tag  "#{@event.photo.key}", crop: :fill, class: "card-img-top" %>
    <% end %>
      <div class="card-trip-infos">
        <div>
          <h5><%= @event.name %></h5>
          <div class="d-flex">
            <div>
              <p><i class="fas fa-pen-square"></i></p>
              <p><i class="far fa-calendar-alt"></i></p>
              <p><i class="fas fa-glass-cheers "></i></p>
              <p><i class="fas fa-euro-sign"></i></p>
              <p><i class="fas fa-users"></i></p>
            </div>
            <div class="mx-3">
              <p><%= @event.description %></p>
              <p><%= @event.day.date %></p>
              <p><%= @event.category %></p>
              <p><%= @event.price %></p>
              <p><span id="max_people"><%= @event.people_left %>
            </div>
          </div>
        </div>
        <div id="book" class="event-card-btn">
          <% if @event.user != current_user %>
            <% if @event.day.booked_by?(current_user) %>
            <%= simple_form_for [@event.day, @booking] do |f| %>
              <%= f.submit "You've joined!", class:'btn btn-warning', disabled:'disabled', id:'sweet-alert-demo' %>
            <% end %>
            <% elsif !policy(@event).create_booking? %>
              <h2>Too late! The event is already full.</h2>
            <% else %>
              <%= simple_form_for [@event.day, @booking] do |f| %>
                <%= f.submit 'Book now!', class:'btn btn-warning', id:'sweet-alert-demo' %>
              <% end %>
            <% end %>
          <% end %>
      </div>
    </div>


  </div><!--col event -->
  <div class="map-event-show"> <!--col map -->
    <div class="card-trip-infos">
      <h5>Map </h5>
      <p><i class="fas fa-map-marker-alt"></i>  <%= @event.location %></p>
    </div>
    <div>
      <% if @event.latitude.present? && @event.longitude.present?  %>
        <div class="show-mp" id="map"
          style="width: 100%; height: 300px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      <% end %>
    </div>
  </div> <!--col map -->
</div>
</div>
