<div class="wrapper">

  <nav class ="col-3">
    <%# <div class = "nav nav-sidebar"> %>
    <div class="sidebar-card"> 
      <img class="card-img-top" src="https://i.imgur.com/K7A78We.jpg" alt="Card image cap">
      <div class="sidecard-info">
        <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        <p class="sidecard-name"><strong><%= @event.user.name %></strong></p>
        <p class="sidecard-email"><i class="fas fa-envelope"></i>  <%= @event.user.email %></p>
      </div>
      <div class="sidebar-card-button">
        <button type="button" class="btn btn-warning">Message</button>
        <button type="button" class="btn btn-warning">Review</button>
      </div>  
      <div class="sidecard-info2">
        <p><i class="fas fa-birthday-cake"></i>  <%= ((Date.today - @event.user.date_of_birth )/365).to_i%> y</p>
        <p><i class="fas fa-pen-square"></i>  <%= @event.user.description %></p>
        <p><i class="fas fa-venus-mars"></i>  <%= @event.user.gender %></p>
      </div> 
    </div>
  </nav>
  
  <div class="show-content col-9">
    
    <h1><%= @event.name %></h1>
    <div><%= link_to events_path do %><p>🎉 Back</p><% end %></div>
  

<div class="event-card-show">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="event-card-show-info">
    <h5>Event Information:</h5>
    <p><i class="far fa-calendar-alt"></i>  <%= @event.date %></p>
    <p><i class="fas fa-pen-square"></i>  <%= @event.description %></p>
    <p><i class="fas fa-glass-cheers"></i>  <%= @event.category %></p>
    <p><i class="fas fa-euro-sign"></i>  <%= @event.price %></p>
    <p><i class="fas fa-users"></i>  <%= @event.max_people %></p>
    <p><i class="fas fa-map-marker-alt"></i>  <%= @event.location %></p>
  </div>
</div>

    <h1>Map </h1>
    <div>
      <% if @event.latitude.present? && @event.longitude.present?  %>
        <div id="map"
          style="width: 100%; height: 300px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      <% end %>
    </div>

      
    
    
  </div>

</div>