<div class="wrapper">

  <nav class ="sidebar col-3">
    <%# <div class = "nav nav-sidebar"> %>
      <ul class="list-unstyled components">
        <li>Name:<br><%= @event.user.name %></li>
        <li>Description:<br><%= @event.user.description %></li>
        <li>Age:<br><%= @event.user.date_of_birth %></li>
        <li>Email:<br><%= @event.user.email %></li>
        <li>Gender<br><%= @event.user.gender %></li>
        <%# <li><%= @event.user.location %>
      </ul>
    <%# </div> %>
  </nav>
  
  <div class="show-content col-8">
    
    <h2>show</h2>
    <div><%= link_to events_path do %><p>🎉 Back</p><% end %></div>
  

    <div class="event-show">
      <p><b>Name:</b> <%= @event.name %><br>
      <p><b>Price: </b><%= @event.price %>€<br>
      <p><b>Date: </b><%= @event.date %></p><br>
      <p><b>Description: </b><%= @event.description %></p><br>
      <p><b>Category: </b><%= @event.category %></p><br>
      <p><b>Maximum People:</b><%= @event.max_people %></p><br>
      <p><b>Location: </b><%= @event.location %></p><br>
    </div>

    <h1>Map </h1>
    <div>
      <% if @event.latitude.present? && @event.longitude.present?  %>
        <div id="map"
          style="width: 100%; height: 300px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      <% end %>
    </div>

      
    
    
  </div>

</div>