<div class="back-show"><%= link_to events_path do %><p><i class="fas fa-arrow-left"></i> Back</p><% end %></div>

<div class="container d-flex justify-content-between">

  <div class ="col-4 rounded"> <!--col profile -->

    <div class="profile-info-card-event">
      <%# <img class="card-img-top" src="https://i.imgur.com/K7A78We.jpg" alt="Card image cap"> %>
      <div class="profile-info-card-event-info">
        <%= cl_image_tag(@event.user.avatar.key, width: 80, height: 80, crop: :fill, class:'avatar-event-show') %>
        <h5 class="profile-info-card-event-name"><%= @event.user.name %></h5>
        <p class="profile-info-card-event-email"><i class="fas fa-envelope"></i>  <%= @event.user.email %></p>
      </div>

      <div class="profile-info-card-event-info2">
        <p><i class="fas fa-birthday-cake"></i>  <%= ((Date.today - @event.user.date_of_birth )/365).to_i%> y</p>
        <p><i class="fas fa-pen-square"></i>  <%= @event.user.description %></p>
        <p><i class="fas fa-venus-mars"></i>  <%= @event.user.gender %></p>
      </div>

      <div class="row d-flex justify-content-between ml-4 mr-4 profile-info-card-event-card-button">
        <% if @event.user != current_user %>
          <% if @chatroom.present?  %>
            <%= link_to chatroom_path(@chatroom.id) do %>
              <button type="button" id="message" class="col btn btn-warning">Message</button>
            <% end %>
          <% else %>
            <%= link_to event_chatrooms_path(@event), method: :post do %>
              <button type="button" id="message" class="col btn btn-warning">Message</button>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="row d-flex justify-content-between ml-4 mr-4 profile-info-card-event-card-button">
        <button type="button" id ="review"class="col btn btn-warning">Review</button>
      </div>


    </div>

  </div> <!--col profile -->


  <div class ="col-8"> <!--col event -->
    <div class="card-trip">
      <%= cl_image_tag  "#{@event.photo.key}", crop: :fill, class: "card-img-top" %>
      <div class="card-trip-infos">
        <div>
          <h5><%= @event.name %></h5>
          <div class="d-flex">
            <div>
              <p><i class="fas fa-pen-square"></i></p>
              <p><i class="far fa-calendar-alt"></i></p>
              <p><i class="fas fa-glass-cheers "></i></p>
              <p><i class="fas fa-euro-sign"></i></p>
              <p><i class="fas fa-users"></i></p>
            </div>
            <div class="mx-3">
              <p><%= @event.description %></p>
              <p><%= @event.day.date %></p>
              <p><%= @event.category %></p>
              <p><%= @event.price %></p>
              <p><span id="max_people"><%= @event.people_left %>
            </div>
          </div>
        </div>
        <div id="book" class="event-card-btn">
          <% if @event.user != current_user %>
            <% if @event.day.booked_by?(current_user) %>
              <span>It seems you've already joined this event!</span>
            <% elsif !policy(@event).create_booking? %>
              <span>Too late! The event is already full.</span>
            <% else %>
              <%= simple_form_for [@event.day, @booking] do |f| %>
                <%= f.submit 'Book now!', class:'btn btn-warning', id:'sweet-alert-demo' %>
              <% end %>
            <% end %>
          <% end %>
      </div>
    </div>


  </div><!--col event -->
  <div class="map-event-show"> <!--col map -->
    <div class="card-trip-infos">
      <h5>Map </h5>
      <p><i class="fas fa-map-marker-alt"></i>  <%= @event.location %></p>
    </div>
    <div>
      <% if @event.latitude.present? && @event.longitude.present?  %>
        <div class="show-mp" id="map"
          style="width: 100%; height: 300px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      <% end %>
    </div>
  </div> <!--col map -->
</div>
</div>
