<div class="banner">
<div class="main-container">
    <h1>iBuddy.find</h1>
    <h3 class="typed-js"></h3>
  </div>

  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        <%= text_field_tag :query,
          params[:query],
          class: "search_input",
          placeholder: "Search for an event..."
        %>
        <%= button_tag type: 'submit', class:"search_icon" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
<h1 class="row-title">Upcoming events</h1>
<div class="container text-center my-3">
    <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
              <% @events.each_with_index do |event, index| %>
                <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                  <div class="col-4">
                    <%= link_to event_path(event) do %>
                      <div class="card card-event mb-4">
                        <div id="img-download-upcoming">
                          <%= image_tag "rectangle.png" %>
                        </div>
                        <div class="event-body">
                          <div class="event-main-content d-flex justify-content-between mb-2">
                            <p class="card-subtitle"><%= event.date.strftime("%B %d") %></p>
                          </div>
                          <div class="event-main-content-name d-flex justify-content-between mb-2">
                            <h5 class="event-name"><%= event.name.capitalize %></h5>
                          </div>
                          <div class="row d-flex justify-content-between mb-2">
                            <div class="event-main-content d-flex location">
                              <i class="fas fa-map-marker-alt"></i>
                              <p class="location-event">Lisbon</p>
                              <%# <p class="card-subtitle text-muted"><%= event.category</p> %>
                            </div>
                            <div class="event-main-content d-flex participants">
                              <i class="fas fa-user-alt m-2"></i>
                              <p class= "location-event">3 people</p>
                              <%# <p class="card-subtitle text-muted"><%= event.participants</p> %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>

            <a class="carousel-control carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
    </div>
</div>

<h1 class="row-title">Categories</h1>
<div class="row row-home">
  <div class="col-sm-3">
    <div class="card-home-page">
      <%= link_to events_path(category: "Night out") do %>
      <div class="card-body-home-page">
        <div class="centered"><i class="fas fa-cloud-moon fa-3x"></i><h2 class="card-text"> Night Out</h2></div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card-home-page">
      <%= link_to events_path(category: "Sports") do %>
      <div class="card-body-home-page">
        <div class="centered"><i class="fas fa-running fa-3x"></i><h2 class="card-text">  Sports</h2></div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card-home-page">
      <%= link_to events_path(category: "Experiences") do %>
      <div class="card-body-home-page">
        <div class="centered"><i class="fas fa-mountain fa-3x"></i><h2 class="card-text"> Experiences</h2></div>
      </div>
      <% end %>
    </div>
  </div>
    <div class="col-sm-3">
    <div class="card-home-page">
      <%= link_to events_path(category: "Culture") do %>
      <div class="card-body-home-page">
        <div class="centered"><i class="fas fa-theater-masks fa-3x"></i><h2 class="card-text"> Culture</h2></div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row row-home">
  <div class="col-sm-3">
    <div class="card-home-page">
      <%= link_to events_path(category: "Gastronomy") do %>
      <div class="card-body-home-page">
        <div class="centered"><i class="fas fa-utensils fa-3x"></i></i><h2 class="card-text"> Gastronomy</h2></div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card-home-page">
      <%= link_to events_path(category: "Travel") do %>
      <div class="card-body-home-page">
        <div class="centered"><i class="fas fa-plane fa-3x"></i></i><h2 class="card-text">  Travel</h2></div>
      </div>
      <% end %>
    </div>
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 83f79bf5545c76f38d1d418b6bd50d7a02e96f80
  </div>
  <div class="col-sm-3">
    <div class="card-home-page">
      <%= link_to events_path(category: "Events") do %>
      <div class="card-body-home-page">
        <div class="centered"><i class="fas fa-music fa-3x"></i></i><h2 class="card-text"> Events</h2></div>
<<<<<<< HEAD
=======
      <div class="card m-3">
      <img class="card-img-top" src="https://www.vippng.com/png/detail/112-1127185_how-to-set-use-desk-calendar-svg-vector.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Events</h5>
>>>>>>> dd1a6e0bf8502848a57c17f75efbe62775065b72
      </div>
      <% end %>
    </div>
<<<<<<< HEAD
=======
      </div>
      <% end %>
    </div>

>>>>>>> 83f79bf5545c76f38d1d418b6bd50d7a02e96f80
  </div>
    <div class="col-sm-3">
    <div class="card-home-page">
      <%= link_to events_path(category: "Meet") do %>
      <div class="card-body-home-page">
        <div class="centered"><i class="fas fa-handshake fa-3x"></i></i><h2 class="card-text"> Meet</h2></div>
<<<<<<< HEAD
=======
      <div class="card m-3">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/-zdI94q3V6x8f4w4QKM4-A015PcPX9mwWRuWdiIrkqKmn3fCTk7gB-M2DgXafPXQqIoebd8iV2lFGawEcZmcZ5Jv" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Meet</h5>
>>>>>>> dd1a6e0bf8502848a57c17f75efbe62775065b72
=======
>>>>>>> 83f79bf5545c76f38d1d418b6bd50d7a02e96f80
      </div>
      <% end %>
    </div>
  </div>
</div>
