<!DOCTYPE html>
<html>
  <head>
    <title>iBuddyFind</title>
    <link rel="shortcut icon" href="<%= image_path("favicon.ico") %>" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag 'application' %>
    og:image
    <meta property="og:image" content="https://images.unsplash.com/photo-1506869640319-fe1a24fd76dc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3JvdXAlMjBvZiUyMGZyaWVuZHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80"/>
    <meta property="og:title" content="Your Title"/>
    <meta property="og:description" content="A full description of the page."/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
